<div >
    <nav class="navbar navbar-expand-lg navcol fixed-top">
        <ul class="navbar-nav sidenav-toggler">
           
          </ul>
          <ul class="navbar-nav ml-auto"> 
             
            <li class="nav-item ">
              <form class="form-inline my-2 my-lg-0 mr-lg-2 ">
                <div class="input-group search" >
                  <input class="form-control " type="text" placeholder="Search for...">
                  <span class="input-group-append">
                    <button class="btn btn-primary " type="button">
                      <i class="fa fa-search"></i>
                    </button>
                  </span>
                </div>
              </form>
            </li>
            <img src="http://localhost:9000/uploads/{{imgd}}" onerror="this.src='../../../assets/defaultphoto.png'" alt="" class="img">
            <li class="nav-item name">{{localData.first_name}}</li>
            <li class="nav-item ">
              <a class="nav-link sea logout" data-toggle="modal" data-target="#exampleModal" (click)="onLogout()">
                <i class="fa fa-fw fa-sign-out"></i>Logout</a>
            </li>
            
          </ul>        
    </nav>
    </div>
