<div class="wrapper">
	<div class="a">
			<div class="sidebar">
	<div class="logo">
		<a href="#">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="269" height="79" viewBox="0 0 269 79">
				<defs>
					<filter id="BG" x="0" y="0" width="269" height="79" filterUnits="userSpaceOnUse">
						<feOffset dy="2" input="SourceAlpha" />
						<feGaussianBlur stdDeviation="1.5" result="blur" />
						<feFlood flood-opacity="0.051" />
						<feComposite operator="in" in2="blur" />
						<feComposite in="SourceGraphic" />
					</filter>
				</defs>
				<g id="Logo" transform="translate(4.5 2.5)">
					<g transform="matrix(1, 0, 0, 1, -4.5, -2.5)" filter="url(#BG)">
						<path id="BG-2" data-name="BG" d="M0,0H260V70H0Z" transform="translate(4.5 2.5)" fill="rgba(0,0,0,0.1)" />
					</g>
					
					<text id="Logo-2" data-name="Logo" transform="translate(40 39)" fill="#fff" font-size="15" font-family="SourceSansPro-Bold, Source Sans Pro" font-weight="700" letter-spacing="0.2em">
						<tspan x="0" y="0">DASHBOARD PAGE</tspan>
					</text>
				</g>
			</svg>

		</a>
	</div> <!-- class="logo" -->

	<nav class="menu">
		<ul>
			<li>
				<a routerLink="/layout/dashboard">
					<i class="fa fa-fw fa-home"></i>
					Dashboard</a>
			</li>
			<li class="active">
				<a routerLink='/layout/myprofile'>
					<i class="fa fa-bar-chart-o"></i>
					Profile</a>
			</li>
			<li>
				<a routerLink='/layout/post'>
					<i class="fa fa-inbox"></i>
					post</a>
			</li>
			<li>
				<a routerLink='/allusers'>
					<i class="far fa-calendar-alt"></i>
					showAllUser
				</a>
			</li>
			<!-- <li>
				<a href="#settings">
					<i class="fa fa-cog"></i>
					Settings
				</a>
			</li> -->

		</ul>
	</nav>
</div> <!-- class="sidebar" -->
	</div> <!-- class="a" -->
	
	<!-- <div class="b">
		<div class="container">
			<div class="box">
				<ul>
					<li class="search">
						<a href="#">
							<i class="fa fa-search"></i>
							<input type="text" placeholder="Search..." />
						</a>
					</li>
					<li class="comments">
						<a href="#">
							<i class="fas fa-comments"></i>
						</a>
					</li>
					<li class="bell">
						<a href="#">
							<i class="fas fa-bell">
								<span>12</span>
							</i>
						</a>
							<ul>
								<li>
									<a href="#">
										<b>David Lee</b>
										<br>
										Hey, How are you?
									</a>
								</li> 
								<li>
									<a href="#">
										<b>Maria Cooper</b>
										<br>
										Hey, I just read your message. How are you?
									</a>
								</li> 
								<li class="link">
									<a href="#">See all</a>
								</li>
							</ul>
					</li>
					<li class="line">|</li>
					<li class="username">
						<a href="#">
							John Doe <i class="fa fa-angle-down"></i>
						</a>
						<ul>
							<li><a href="#">Account Manager</a></li>
							<li><a href="#">Feedback</a></li>
							<li><a href="#">Logout</a></li>
						</ul>
					</li>
					<li class="userphoto">
						<i class="fas fa-user-circle"></i>
					</li>
				</ul>
			</div> 
		</div>
	</div>  -->
    
    <!-- class="b" -->
	<!-- <div class="header">Overview</div> -->
	
	</div> <!-- class="wrapper" -->
